
.DS_Store
.idea/Dual_Progress.iml
.idea/modules.xml
data/.DS_Store
data/age_kw/accounting_age_kw.csv
data/age_kw/accounting_age_kw_stacked.csv
data/age_kw/acoustics_age_kw.csv
data/age_kw/acoustics_age_kw_stacked.csv
data/age_kw/actuarial_science_age_kw.csv
data/age_kw/actuarial_science_age_kw_stacked.csv
data/age_kw/advertising_age_kw.csv
data/age_kw/advertising_age_kw_stacked.csv
data/age_kw/aeronautics_age_kw.csv
data/age_kw/aeronautics_age_kw_stacked.csv
data/age_kw/aerospace_engineering_age_kw.csv
data/age_kw/aerospace_engineering_age_kw_stacked.csv
data/age_kw/aesthetics_age_kw.csv
data/age_kw/aesthetics_age_kw_stacked.csv
data/age_kw/agricultural_economics_age_kw.csv
data/age_kw/agricultural_economics_age_kw_stacked.csv
data/age_kw/agricultural_engineering_age_kw.csv
data/age_kw/agricultural_engineering_age_kw_stacked.csv
data/age_kw/agricultural_science_age_kw.csv
data/age_kw/agricultural_science_age_kw_stacked.csv
data/age_kw/agroforestry_age_kw.csv
data/age_kw/agroforestry_age_kw_stacked.csv
data/age_kw/agronomy_age_kw.csv
data/age_kw/agronomy_age_kw_stacked.csv
data/age_kw/algorithm_age_kw.csv
data/age_kw/algorithm_age_kw_stacked.csv
data/age_kw/anatomy_age_kw.csv
data/age_kw/anatomy_age_kw_stacked.csv
data/age_kw/ancient_history_age_kw.csv
data/age_kw/ancient_history_age_kw_stacked.csv
data/age_kw/andrology_age_kw.csv
data/age_kw/andrology_age_kw_stacked.csv
data/age_kw/anesthesia_age_kw.csv
data/age_kw/anesthesia_age_kw_stacked.csv
data/age_kw/animal_science_age_kw.csv
data/age_kw/animal_science_age_kw_stacked.csv
data/age_kw/anthropology_age_kw.csv
data/age_kw/anthropology_age_kw_stacked.csv
data/age_kw/applied_mathematics_age_kw.csv
data/age_kw/applied_mathematics_age_kw_stacked.csv
data/age_kw/applied_psychology_age_kw.csv
data/age_kw/applied_psychology_age_kw_stacked.csv
data/age_kw/archaeology_age_kw.csv
data/age_kw/archaeology_age_kw_stacked.csv
data/age_kw/architectural_engineering_age_kw.csv
data/age_kw/architectural_engineering_age_kw_stacked.csv
data/age_kw/arithmetic_age_kw.csv
data/age_kw/arithmetic_age_kw_stacked.csv
data/age_kw/art_history_age_kw.csv
data/age_kw/art_history_age_kw_stacked.csv
data/age_kw/artificial_intelligence_age_kw.csv
data/age_kw/artificial_intelligence_age_kw_stacked.csv
data/age_kw/astrobiology_age_kw.csv
data/age_kw/astrobiology_age_kw_stacked.csv
data/age_kw/astronomy_age_kw.csv
data/age_kw/astronomy_age_kw_stacked.csv
data/age_kw/astrophysics_age_kw.csv
data/age_kw/astrophysics_age_kw_stacked.csv
data/age_kw/atmospheric_sciences_age_kw.csv
data/age_kw/atmospheric_sciences_age_kw_stacked.csv
data/age_kw/atomic_physics_age_kw.csv
data/age_kw/atomic_physics_age_kw_stacked.csv
data/age_kw/audiology_age_kw.csv
data/age_kw/audiology_age_kw_stacked.csv
data/age_kw/automotive_engineering_age_kw.csv
data/age_kw/automotive_engineering_age_kw_stacked.csv
data/age_kw/biochemical_engineering_age_kw.csv
data/age_kw/biochemical_engineering_age_kw_stacked.csv
data/age_kw/biological_system_age_kw.csv
data/age_kw/biological_system_age_kw_stacked.csv
data/age_kw/biomedical_engineering_age_kw.csv
data/age_kw/biomedical_engineering_age_kw_stacked.csv
data/age_kw/biophysics_age_kw.csv
data/age_kw/biophysics_age_kw_stacked.csv
data/age_kw/biotechnology_age_kw.csv
data/age_kw/biotechnology_age_kw_stacked.csv
data/age_kw/botany_age_kw.csv
data/age_kw/botany_age_kw_stacked.csv
data/age_kw/business_administration_age_kw.csv
data/age_kw/business_administration_age_kw_stacked.csv
data/age_kw/cancer_research_age_kw.csv
data/age_kw/cancer_research_age_kw_stacked.csv
data/age_kw/cardiology_age_kw.csv
data/age_kw/cardiology_age_kw_stacked.csv
data/age_kw/cartography_age_kw.csv
data/age_kw/cartography_age_kw_stacked.csv
data/age_kw/cell_biology_age_kw.csv
data/age_kw/cell_biology_age_kw_stacked.csv
data/age_kw/chemical_engineering_age_kw.csv
data/age_kw/chemical_engineering_age_kw_stacked.csv
data/age_kw/chemical_physics_age_kw.csv
data/age_kw/chemical_physics_age_kw_stacked.csv
data/age_kw/chromatography_age_kw.csv
data/age_kw/chromatography_age_kw_stacked.csv
data/age_kw/civil_engineering_age_kw.csv
data/age_kw/civil_engineering_age_kw_stacked.csv
data/age_kw/classical_economics_age_kw.csv
data/age_kw/classical_economics_age_kw_stacked.csv
data/age_kw/classical_mechanics_age_kw.csv
data/age_kw/classical_mechanics_age_kw_stacked.csv
data/age_kw/classics_age_kw.csv
data/age_kw/classics_age_kw_stacked.csv
data/age_kw/climatology_age_kw.csv
data/age_kw/climatology_age_kw_stacked.csv
data/age_kw/clinical_psychology_age_kw.csv
data/age_kw/clinical_psychology_age_kw_stacked.csv
data/age_kw/cognitive_psychology_age_kw.csv
data/age_kw/cognitive_psychology_age_kw_stacked.csv
data/age_kw/cognitive_science_age_kw.csv
data/age_kw/cognitive_science_age_kw_stacked.csv
data/age_kw/combinatorial_chemistry_age_kw.csv
data/age_kw/combinatorial_chemistry_age_kw_stacked.csv
data/age_kw/combinatorics_age_kw.csv
data/age_kw/combinatorics_age_kw_stacked.csv
data/age_kw/commerce_age_kw.csv
data/age_kw/commerce_age_kw_stacked.csv
data/age_kw/communication_age_kw.csv
data/age_kw/communication_age_kw_stacked.csv
data/age_kw/composite_material_age_kw.csv
data/age_kw/composite_material_age_kw_stacked.csv
data/age_kw/computational_biology_age_kw.csv
data/age_kw/computational_biology_age_kw_stacked.csv
data/age_kw/computational_chemistry_age_kw.csv
data/age_kw/computational_chemistry_age_kw_stacked.csv
data/age_kw/computational_physics_age_kw.csv
data/age_kw/computational_physics_age_kw_stacked.csv
data/age_kw/computational_science_age_kw.csv
data/age_kw/computational_science_age_kw_stacked.csv
data/age_kw/computer_architecture_age_kw.csv
data/age_kw/computer_architecture_age_kw_stacked.csv
data/age_kw/computer_engineering_age_kw.csv
data/age_kw/computer_engineering_age_kw_stacked.csv
data/age_kw/computer_graphics_images_age_kw.csv
data/age_kw/computer_graphics_images_age_kw_stacked.csv
data/age_kw/computer_hardware_age_kw.csv
data/age_kw/computer_hardware_age_kw_stacked.csv
data/age_kw/computer_network_age_kw.csv
data/age_kw/computer_network_age_kw_stacked.csv
data/age_kw/computer_security_age_kw.csv
data/age_kw/computer_security_age_kw_stacked.csv
data/age_kw/computer_vision_age_kw.csv
data/age_kw/computer_vision_age_kw_stacked.csv
data/age_kw/construction_engineering_age_kw.csv
data/age_kw/construction_engineering_age_kw_stacked.csv
data/age_kw/control_engineering_age_kw.csv
data/age_kw/control_engineering_age_kw_stacked.csv
data/age_kw/criminology_age_kw.csv
data/age_kw/criminology_age_kw_stacked.csv
data/age_kw/crystallography_age_kw.csv
data/age_kw/crystallography_age_kw_stacked.csv
data/age_kw/data_mining_age_kw.csv
data/age_kw/data_mining_age_kw_stacked.csv
data/age_kw/data_science_age_kw.csv
data/age_kw/data_science_age_kw_stacked.csv
data/age_kw/database_age_kw.csv
data/age_kw/database_age_kw_stacked.csv
data/age_kw/demographic_economics_age_kw.csv
data/age_kw/demographic_economics_age_kw_stacked.csv
data/age_kw/demography_age_kw.csv
data/age_kw/demography_age_kw_stacked.csv
data/age_kw/dentistry_age_kw.csv
data/age_kw/dentistry_age_kw_stacked.csv
data/age_kw/dermatology_age_kw.csv
data/age_kw/dermatology_age_kw_stacked.csv
data/age_kw/development_economics_age_kw.csv
data/age_kw/development_economics_age_kw_stacked.csv
data/age_kw/discrete_mathematics_age_kw.csv
data/age_kw/discrete_mathematics_age_kw_stacked.csv
data/age_kw/distributed_computing_age_kw.csv
data/age_kw/distributed_computing_age_kw_stacked.csv
data/age_kw/earth_science_age_kw.csv
data/age_kw/earth_science_age_kw_stacked.csv
data/age_kw/ecology_age_kw.csv
data/age_kw/ecology_age_kw_stacked.csv
data/age_kw/econometrics_age_kw.csv
data/age_kw/econometrics_age_kw_stacked.csv
data/age_kw/economic_geography_age_kw.csv
data/age_kw/economic_geography_age_kw_stacked.csv
data/age_kw/economic_growth_age_kw.csv
data/age_kw/economic_growth_age_kw_stacked.csv
data/age_kw/economic_history_age_kw.csv
data/age_kw/economic_history_age_kw_stacked.csv
data/age_kw/economic_policy_age_kw.csv
data/age_kw/economic_policy_age_kw_stacked.csv
data/age_kw/economic_system_age_kw.csv
data/age_kw/economic_system_age_kw_stacked.csv
data/age_kw/economy_age_kw.csv
data/age_kw/economy_age_kw_stacked.csv
data/age_kw/electrical_engineering_age_kw.csv
data/age_kw/electrical_engineering_age_kw_stacked.csv
data/age_kw/electronic_engineering_age_kw.csv
data/age_kw/electronic_engineering_age_kw_stacked.csv
data/age_kw/embedded_system_age_kw.csv
data/age_kw/embedded_system_age_kw_stacked.csv
data/age_kw/emergency_medicine_age_kw.csv
data/age_kw/emergency_medicine_age_kw_stacked.csv
data/age_kw/engineering_drawing_age_kw.csv
data/age_kw/engineering_drawing_age_kw_stacked.csv
data/age_kw/engineering_ethics_age_kw.csv
data/age_kw/engineering_ethics_age_kw_stacked.csv
data/age_kw/engineering_management_age_kw.csv
data/age_kw/engineering_management_age_kw_stacked.csv
data/age_kw/engineering_physics_age_kw.csv
data/age_kw/engineering_physics_age_kw_stacked.csv
data/age_kw/environmental_chemistry_age_kw.csv
data/age_kw/environmental_chemistry_age_kw_stacked.csv
data/age_kw/environmental_economics_age_kw.csv
data/age_kw/environmental_economics_age_kw_stacked.csv
data/age_kw/environmental_engineering_age_kw.csv
data/age_kw/environmental_engineering_age_kw_stacked.csv
data/age_kw/environmental_ethics_age_kw.csv
data/age_kw/environmental_ethics_age_kw_stacked.csv
data/age_kw/environmental_health_age_kw.csv
data/age_kw/environmental_health_age_kw_stacked.csv
data/age_kw/environmental_planning_age_kw.csv
data/age_kw/environmental_planning_age_kw_stacked.csv
data/age_kw/environmental_protection_age_kw.csv
data/age_kw/environmental_protection_age_kw_stacked.csv
data/age_kw/environmental_resource_management_age_kw.csv
data/age_kw/environmental_resource_management_age_kw_stacked.csv
data/age_kw/epistemology_age_kw.csv
data/age_kw/epistemology_age_kw_stacked.csv
data/age_kw/ethnology_age_kw.csv
data/age_kw/ethnology_age_kw_stacked.csv
data/age_kw/evolutionary_biology_age_kw.csv
data/age_kw/evolutionary_biology_age_kw_stacked.csv
data/age_kw/family_medicine_age_kw.csv
data/age_kw/family_medicine_age_kw_stacked.csv
data/age_kw/finance_age_kw.csv
data/age_kw/finance_age_kw_stacked.csv
data/age_kw/financial_economics_age_kw.csv
data/age_kw/financial_economics_age_kw_stacked.csv
data/age_kw/financial_system_age_kw.csv
data/age_kw/financial_system_age_kw_stacked.csv
data/age_kw/fishery_age_kw.csv
data/age_kw/fishery_age_kw_stacked.csv
data/age_kw/food_science_age_kw.csv
data/age_kw/food_science_age_kw_stacked.csv
data/age_kw/forensic_engineering_age_kw.csv
data/age_kw/forensic_engineering_age_kw_stacked.csv
data/age_kw/forestry_age_kw.csv
data/age_kw/forestry_age_kw_stacked.csv
data/age_kw/gastroenterology_age_kw.csv
data/age_kw/gastroenterology_age_kw_stacked.csv
data/age_kw/gender_studies_age_kw.csv
data/age_kw/gender_studies_age_kw_stacked.csv
data/age_kw/genealogy_age_kw.csv
data/age_kw/genealogy_age_kw_stacked.csv
data/age_kw/general_surgery_age_kw.csv
data/age_kw/general_surgery_age_kw_stacked.csv
data/age_kw/genetics_age_kw.csv
data/age_kw/genetics_age_kw_stacked.csv
data/age_kw/geochemistry_age_kw.csv
data/age_kw/geochemistry_age_kw_stacked.csv
data/age_kw/geodesy_age_kw.csv
data/age_kw/geodesy_age_kw_stacked.csv
data/age_kw/geometry_age_kw.csv
data/age_kw/geometry_age_kw_stacked.csv
data/age_kw/geomorphology_age_kw.csv
data/age_kw/geomorphology_age_kw_stacked.csv
data/age_kw/geophysics_age_kw.csv
data/age_kw/geophysics_age_kw_stacked.csv
data/age_kw/geotechnical_engineering_age_kw.csv
data/age_kw/geotechnical_engineering_age_kw_stacked.csv
data/age_kw/gerontology_age_kw.csv
data/age_kw/gerontology_age_kw_stacked.csv
data/age_kw/gynecology_age_kw.csv
data/age_kw/gynecology_age_kw_stacked.csv
data/age_kw/horticulture_age_kw.csv
data/age_kw/horticulture_age_kw_stacked.csv
data/age_kw/human_computer_interaction_age_kw.csv
data/age_kw/human_computer_interaction_age_kw_stacked.csv
data/age_kw/humanities_age_kw.csv
data/age_kw/humanities_age_kw_stacked.csv
data/age_kw/immunology_age_kw.csv
data/age_kw/immunology_age_kw_stacked.csv
data/age_kw/industrial_engineering_age_kw.csv
data/age_kw/industrial_engineering_age_kw_stacked.csv
data/age_kw/industrial_organization_age_kw.csv
data/age_kw/industrial_organization_age_kw_stacked.csv
data/age_kw/information_retrieval_age_kw.csv
data/age_kw/information_retrieval_age_kw_stacked.csv
data/age_kw/intensive_care_medicine_age_kw.csv
data/age_kw/intensive_care_medicine_age_kw_stacked.csv
data/age_kw/international_economics_age_kw.csv
data/age_kw/international_economics_age_kw_stacked.csv
data/age_kw/international_trade_age_kw.csv
data/age_kw/international_trade_age_kw_stacked.csv
data/age_kw/internet_privacy_age_kw.csv
data/age_kw/internet_privacy_age_kw_stacked.csv
data/age_kw/keynesian_economics_age_kw.csv
data/age_kw/keynesian_economics_age_kw_stacked.csv
data/age_kw/knowledge_management_age_kw.csv
data/age_kw/knowledge_management_age_kw_stacked.csv
data/age_kw/labour_economics_age_kw.csv
data/age_kw/labour_economics_age_kw_stacked.csv
data/age_kw/law_age_kw.csv
data/age_kw/law_age_kw_stacked.csv
data/age_kw/law_and_economics_age_kw.csv
data/age_kw/law_and_economics_age_kw_stacked.csv
data/age_kw/library_science_age_kw.csv
data/age_kw/library_science_age_kw_stacked.csv
data/age_kw/linguistics_age_kw.csv
data/age_kw/linguistics_age_kw_stacked.csv
data/age_kw/literature_age_kw.csv
data/age_kw/literature_age_kw_stacked.csv
data/age_kw/machine_learning_age_kw.csv
data/age_kw/machine_learning_age_kw_stacked.csv
data/age_kw/macroeconomics_age_kw.csv
data/age_kw/macroeconomics_age_kw_stacked.csv
data/age_kw/management_age_kw.csv
data/age_kw/management_age_kw_stacked.csv
data/age_kw/management_science_age_kw.csv
data/age_kw/management_science_age_kw_stacked.csv
data/age_kw/manufacturing_engineering_age_kw.csv
data/age_kw/manufacturing_engineering_age_kw_stacked.csv
data/age_kw/marine_engineering_age_kw.csv
data/age_kw/marine_engineering_age_kw_stacked.csv
data/age_kw/market_economy_age_kw.csv
data/age_kw/market_economy_age_kw_stacked.csv
data/age_kw/marketing_age_kw.csv
data/age_kw/marketing_age_kw_stacked.csv
data/age_kw/mathematical_analysis_age_kw.csv
data/age_kw/mathematical_analysis_age_kw_stacked.csv
data/age_kw/mathematical_economics_age_kw.csv
data/age_kw/mathematical_economics_age_kw_stacked.csv
data/age_kw/mathematical_optimization_age_kw.csv
data/age_kw/mathematical_optimization_age_kw_stacked.csv
data/age_kw/mathematical_physics_age_kw.csv
data/age_kw/mathematical_physics_age_kw_stacked.csv
data/age_kw/mathematics_education_age_kw.csv
data/age_kw/mathematics_education_age_kw_stacked.csv
data/age_kw/mechanics_age_kw.csv
data/age_kw/mechanics_age_kw_stacked.csv
data/age_kw/media_studies_age_kw.csv
data/age_kw/media_studies_age_kw_stacked.csv
data/age_kw/medical_education_age_kw.csv
data/age_kw/medical_education_age_kw_stacked.csv
data/age_kw/medical_emergency_age_kw.csv
data/age_kw/medical_emergency_age_kw_stacked.csv
data/age_kw/medical_physics_age_kw.csv
data/age_kw/medical_physics_age_kw_stacked.csv
data/age_kw/medicinal_chemistry_age_kw.csv
data/age_kw/medicinal_chemistry_age_kw_stacked.csv
data/age_kw/metallurgy_age_kw.csv
data/age_kw/metallurgy_age_kw_stacked.csv
data/age_kw/meteorology_age_kw.csv
data/age_kw/meteorology_age_kw_stacked.csv
data/age_kw/microbiology_age_kw.csv
data/age_kw/microbiology_age_kw_stacked.csv
data/age_kw/microeconomics_age_kw.csv
data/age_kw/microeconomics_age_kw_stacked.csv
data/age_kw/mining_engineering_age_kw.csv
data/age_kw/mining_engineering_age_kw_stacked.csv
data/age_kw/molecular_biology_age_kw.csv
data/age_kw/molecular_biology_age_kw_stacked.csv
data/age_kw/molecular_physics_age_kw.csv
data/age_kw/molecular_physics_age_kw_stacked.csv
data/age_kw/monetary_economics_age_kw.csv
data/age_kw/monetary_economics_age_kw_stacked.csv
data/age_kw/multimedia_age_kw.csv
data/age_kw/multimedia_age_kw_stacked.csv
data/age_kw/nanotechnology_age_kw.csv
data/age_kw/nanotechnology_age_kw_stacked.csv
data/age_kw/natural_language_processing_age_kw.csv
data/age_kw/natural_language_processing_age_kw_stacked.csv
data/age_kw/natural_resource_economics_age_kw.csv
data/age_kw/natural_resource_economics_age_kw_stacked.csv
data/age_kw/neoclassical_economics_age_kw.csv
data/age_kw/neoclassical_economics_age_kw_stacked.csv
data/age_kw/neuroscience_age_kw.csv
data/age_kw/neuroscience_age_kw_stacked.csv
data/age_kw/nuclear_chemistry_age_kw.csv
data/age_kw/nuclear_chemistry_age_kw_stacked.csv
data/age_kw/nuclear_engineering_age_kw.csv
data/age_kw/nuclear_engineering_age_kw_stacked.csv
data/age_kw/nuclear_magnetic_resonance_age_kw.csv
data/age_kw/nuclear_magnetic_resonance_age_kw_stacked.csv
data/age_kw/nuclear_medicine_age_kw.csv
data/age_kw/nuclear_medicine_age_kw_stacked.csv
data/age_kw/nuclear_physics_age_kw.csv
data/age_kw/nuclear_physics_age_kw_stacked.csv
data/age_kw/nursing_age_kw.csv
data/age_kw/nursing_age_kw_stacked.csv
data/age_kw/obstetrics_age_kw.csv
data/age_kw/obstetrics_age_kw_stacked.csv
data/age_kw/oceanography_age_kw.csv
data/age_kw/oceanography_age_kw_stacked.csv
data/age_kw/oncology_age_kw.csv
data/age_kw/oncology_age_kw_stacked.csv
data/age_kw/operating_system_age_kw.csv
data/age_kw/operating_system_age_kw_stacked.csv
data/age_kw/operations_management_age_kw.csv
data/age_kw/operations_management_age_kw_stacked.csv
data/age_kw/operations_research_age_kw.csv
data/age_kw/operations_research_age_kw_stacked.csv
data/age_kw/ophthalmology_age_kw.csv
data/age_kw/ophthalmology_age_kw_stacked.csv
data/age_kw/optics_age_kw.csv
data/age_kw/optics_age_kw_stacked.csv
data/age_kw/optometry_age_kw.csv
data/age_kw/optometry_age_kw_stacked.csv
data/age_kw/organic_chemistry_age_kw.csv
data/age_kw/organic_chemistry_age_kw_stacked.csv
data/age_kw/orthodontics_age_kw.csv
data/age_kw/orthodontics_age_kw_stacked.csv
data/age_kw/paleontology_age_kw.csv
data/age_kw/paleontology_age_kw_stacked.csv
data/age_kw/parallel_computing_age_kw.csv
data/age_kw/parallel_computing_age_kw_stacked.csv
data/age_kw/particle_physics_age_kw.csv
data/age_kw/particle_physics_age_kw_stacked.csv
data/age_kw/pathology_age_kw.csv
data/age_kw/pathology_age_kw_stacked.csv
data/age_kw/pedagogy_age_kw.csv
data/age_kw/pedagogy_age_kw_stacked.csv
data/age_kw/pediatrics_age_kw.csv
data/age_kw/pediatrics_age_kw_stacked.csv
data/age_kw/petroleum_engineering_age_kw.csv
data/age_kw/petroleum_engineering_age_kw_stacked.csv
data/age_kw/petrology_age_kw.csv
data/age_kw/petrology_age_kw_stacked.csv
data/age_kw/photochemistry_age_kw.csv
data/age_kw/photochemistry_age_kw_stacked.csv
data/age_kw/physical_chemistry_age_kw.csv
data/age_kw/physical_chemistry_age_kw_stacked.csv
data/age_kw/physical_geography_age_kw.csv
data/age_kw/physical_geography_age_kw_stacked.csv
data/age_kw/physical_medicine_and_rehabilitation_age_kw.csv
data/age_kw/physical_medicine_and_rehabilitation_age_kw_stacked.csv
data/age_kw/physical_therapy_age_kw.csv
data/age_kw/physical_therapy_age_kw_stacked.csv
data/age_kw/physiology_age_kw.csv
data/age_kw/physiology_age_kw_stacked.csv
data/age_kw/political_economy_age_kw.csv
data/age_kw/political_economy_age_kw_stacked.csv
data/age_kw/polymer_chemistry_age_kw.csv
data/age_kw/polymer_chemistry_age_kw_stacked.csv
data/age_kw/polymer_science_age_kw.csv
data/age_kw/polymer_science_age_kw_stacked.csv
data/age_kw/positive_economics_age_kw.csv
data/age_kw/positive_economics_age_kw_stacked.csv
data/age_kw/process_engineering_age_kw.csv
data/age_kw/process_engineering_age_kw_stacked.csv
data/age_kw/process_management_age_kw.csv
data/age_kw/process_management_age_kw_stacked.csv
data/age_kw/programming_language_age_kw.csv
data/age_kw/programming_language_age_kw_stacked.csv
data/age_kw/psychiatry_age_kw.csv
data/age_kw/psychiatry_age_kw_stacked.csv
data/age_kw/psychoanalysis_age_kw.csv
data/age_kw/psychoanalysis_age_kw_stacked.csv
data/age_kw/psychotherapist_age_kw.csv
data/age_kw/psychotherapist_age_kw_stacked.csv
data/age_kw/public_administration_age_kw.csv
data/age_kw/public_administration_age_kw_stacked.csv
data/age_kw/public_economics_age_kw.csv
data/age_kw/public_economics_age_kw_stacked.csv
data/age_kw/public_relations_age_kw.csv
data/age_kw/public_relations_age_kw_stacked.csv
data/age_kw/pulp_and_paper_industry_age_kw.csv
data/age_kw/pulp_and_paper_industry_age_kw_stacked.csv
data/age_kw/pure_mathematics_age_kw.csv
data/age_kw/pure_mathematics_age_kw_stacked.csv
data/age_kw/quantum_electrodynamics_age_kw.csv
data/age_kw/quantum_electrodynamics_age_kw_stacked.csv
data/age_kw/quantum_mechanics_age_kw.csv
data/age_kw/quantum_mechanics_age_kw_stacked.csv
data/age_kw/radiochemistry_age_kw.csv
data/age_kw/radiochemistry_age_kw_stacked.csv
data/age_kw/radiology_age_kw.csv
data/age_kw/radiology_age_kw_stacked.csv
data/age_kw/real_time_computing_age_kw.csv
data/age_kw/real_time_computing_age_kw_stacked.csv
data/age_kw/regional_science_age_kw.csv
data/age_kw/regional_science_age_kw_stacked.csv
data/age_kw/reliability_engineering_age_kw.csv
data/age_kw/reliability_engineering_age_kw_stacked.csv
data/age_kw/religious_studies_age_kw.csv
data/age_kw/religious_studies_age_kw_stacked.csv
data/age_kw/remote_sensing_age_kw.csv
data/age_kw/remote_sensing_age_kw_stacked.csv
data/age_kw/risk_analysis_age_kw.csv
data/age_kw/risk_analysis_age_kw_stacked.csv
data/age_kw/seismology_age_kw.csv
data/age_kw/seismology_age_kw_stacked.csv
data/age_kw/simulation_age_kw.csv
data/age_kw/simulation_age_kw_stacked.csv
data/age_kw/social_psychology_age_kw.csv
data/age_kw/social_psychology_age_kw_stacked.csv
data/age_kw/social_science_age_kw.csv
data/age_kw/social_science_age_kw_stacked.csv
data/age_kw/socioeconomics_age_kw.csv
data/age_kw/socioeconomics_age_kw_stacked.csv
data/age_kw/software_engineering_age_kw.csv
data/age_kw/software_engineering_age_kw_stacked.csv
data/age_kw/soil_science_age_kw.csv
data/age_kw/soil_science_age_kw_stacked.csv
data/age_kw/speech_recognition_age_kw.csv
data/age_kw/speech_recognition_age_kw_stacked.csv
data/age_kw/statistical_physics_age_kw.csv
data/age_kw/statistical_physics_age_kw_stacked.csv
data/age_kw/statistics_age_kw.csv
data/age_kw/statistics_age_kw_stacked.csv
data/age_kw/structural_engineering_age_kw.csv
data/age_kw/structural_engineering_age_kw_stacked.csv
data/age_kw/surgery_age_kw.csv
data/age_kw/surgery_age_kw_stacked.csv
data/age_kw/systems_engineering_age_kw.csv
data/age_kw/systems_engineering_age_kw_stacked.csv
data/age_kw/telecommunications_age_kw.csv
data/age_kw/telecommunications_age_kw_stacked.csv
data/age_kw/theology_age_kw.csv
data/age_kw/theology_age_kw_stacked.csv
data/age_kw/theoretical_computer_science_age_kw.csv
data/age_kw/theoretical_computer_science_age_kw_stacked.csv
data/age_kw/theoretical_physics_age_kw.csv
data/age_kw/theoretical_physics_age_kw_stacked.csv
data/age_kw/thermodynamics_age_kw.csv
data/age_kw/thermodynamics_age_kw_stacked.csv
data/age_kw/toxicology_age_kw.csv
data/age_kw/toxicology_age_kw_stacked.csv
data/age_kw/traditional_medicine_age_kw.csv
data/age_kw/traditional_medicine_age_kw_stacked.csv
data/age_kw/transport_engineering_age_kw.csv
data/age_kw/transport_engineering_age_kw_stacked.csv
data/age_kw/urology_age_kw.csv
data/age_kw/urology_age_kw_stacked.csv
data/age_kw/veterinary_medicine_age_kw.csv
data/age_kw/veterinary_medicine_age_kw_stacked.csv
data/age_kw/virology_age_kw.csv
data/age_kw/virology_age_kw_stacked.csv
data/age_kw/visual_arts_age_kw.csv
data/age_kw/visual_arts_age_kw_stacked.csv
data/age_kw/waste_management_age_kw.csv
data/age_kw/waste_management_age_kw_stacked.csv
data/age_kw/water_resource_management_age_kw.csv
data/age_kw/water_resource_management_age_kw_stacked.csv
data/age_kw/welfare_economics_age_kw.csv
data/age_kw/welfare_economics_age_kw_stacked.csv
data/age_kw/world_wide_web_age_kw.csv
data/age_kw/world_wide_web_age_kw_stacked.csv
data/age_kw/zoology_age_kw.csv
data/age_kw/zoology_age_kw_stacked.csv
